.main {
    display:flex;
    align-items: center;
    line-height: 2;
    min-height: 100vh;
    background-color: rgb(47, 105, 87);
    height: 100%;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
}
.body {
    margin:0;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    border-radius: 50px;
}
.h1 {
    color: #2b2b2b;
}
.input {
    display: block;
    align-items: center;
    width: 60%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 auto;
    border-radius: 15px;
}
.style {
    display: flex;
    margin-left: 135px;
    justify-content: center;
    background-color: transparent;
    height: 200px;
    margin-top: 30px;
}
.button {
    padding: 15px;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: #2b2b2b;;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #81eb7f;
    width: 30%;
    font-size: 100%;
}
.label {
    margin-top: 65px;
    margin-left: 40px;
    height: 30px;
    width: 80px;
    background: transparent;
    color: #000000;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}
.imageInput {
    display: none;
}