.main {
    display:flex;
    align-items: center;
    line-height: 2;
    min-height: 100vh;
    background-color: rgb(47, 105, 87);
    height: 100%;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
}
.body {
    margin:0;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 80px;
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 1200px;
    text-align: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.h1 {
    color: #2b2b2b;
    text-align: left;
    margin-left: 20px;
}
.h6 {
    color: #2b2b2b;
    text-align: left;
    margin-left: 30px;
    margin-top: -2%;
}
.input {
    display: flex;
    width: 95%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin: 0 auto;
    border-radius: 15px;
}
.answerInput {
    display: flex;
    width: 280px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin: 0 auto;
    border-radius: 15px;
}
.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.trueFalseButton {
    margin: 5px;
    padding: 10px 20px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
}
.trueFalseButton.selected {
    background-color: green;
    color: white;
}
.questionTypeContainer {
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
}
.inputContainer2 {
    display: block;
    margin-top: 60px;
    margin-left: 10px;
}
.buttonContainer {
    display: flex;
    justify-content: space-evenly;
}
.style {
    display: flex;
    justify-content: center;
    background-color: transparent;
    height: 200px;
    margin-top: 30px;
}
.label {
    height: 30px;
    width: 80px;
    background: transparent;
    color: #000000;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}
.imageInput {
    display: none;
}
.button {
    padding: 15px;
    border-radius: 20px;
    margin-top: 60px;
    margin-bottom: 15px;
    border: none;
    color: #2b2b2b;;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #81eb7f;
    font-size: 100%;
}
.button2 {
    padding: 15px;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 1000px;
    border: none;
    color: #2b2b2b;;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #d5d5d5;
    width: 15%;
    font-size: 100%;
}