.footerStyle {
    
    .footerLinksSection {
        display: flex;
        justify-content: center;
        gap: 50px;

        .footerColumn {
            text-align: left;

            .listStyle {
                list-style: none;
                padding: 0;

                .textStyle {
                    margin-bottom: 5px;
                }
            }
        }
    }
}