.logo {
  position: relative;
}

.hline {
  margin-top: 0px;
}

.landingSubtitle {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  overflow: hidden;
}

.button {

  display: block;
  margin: auto;
  margin-bottom: 35px;
  background-color: springgreen;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;

  &:hover {
    background-color: mediumspringgreen;
  }

  &:active {
    background-color: mediumseagreen;
  }

}
