.main {
    display: flex;
    background-color: rgb(47, 105, 87);
    min-height: 101vh;
    margin-top: -80px;
    margin-right: 200px;
    padding: 0px 10px 100px;
}
.style {
    text-align: center;
    justify-content: center;
    background-color: transparent;
    height: 200px;
}
.slider{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    width: auto;
    margin-top: 7px;
    right: 10px;
}
.container{
    position: absolute;
    margin-top: 150px;
    width: 86%;
    height: 250px;
    display: block;
    place-items: center;
    background-color: transparent;
    border: 3px solid #313131;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.container2 {
    position: absolute;
    margin-top: 150px;
    width: 86%;
    height: 250px;
    display:block;
    place-items: center;
    background-color: transparent;
    border: 3px solid #313131;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    top: 500px;
}
.section{
    position: absolute;
    display: block;
    color: #ffffff;
    display: flex;
    top: 175px;
}
.section2{
    position: absolute;
    display: block;
    color: #ffffff;
    display: flex;
    top: 575px;
}
