.rowStyle {
    content: "";
    clear: both;
    display: flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;

    .columnStyle {
        width: 33.3%;
        max-width: 50vw;
        height: auto;
        text-align: center;
        object-fit: cover;
    }

    .textStyle {
        color:#000;
        font-size: 6px;
    }
    
    .headerStyle {
    
        color: #000;
        font-size: 8em;
    
    }
    
    .paragraphStyle {
        color: "#000";
        font-size: 3em;
    }
}